<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.typ.muslim"
    android:versionName="beta release v1.1.2"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".app.AnaMuslimApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/Theme.AnaMuslim"
        tools:targetApi="tiramisu">

        <activity
            android:exported="true"
            android:name=".ui.setup.LauncherActivity"
            android:configChanges="orientation|colorMode"
            android:theme="@style/Theme.AnaMuslim"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.MainActivity"
            android:allowTaskReparenting="false"
            android:theme="@style/Theme.AnaMuslim" />

        <activity
            android:name=".ui.activities.IslamicEventsActivity"
            android:theme="@style/Theme.AnaMuslim" />

        <activity
            android:name=".ui.calendar.HijriCalendarActivity"
            android:theme="@style/Theme.AnaMuslim" />

        <activity
            android:name=".ui.names.HolyNamesOfAllahActivity"
            android:theme="@style/Theme.AnaMuslim" />

        <activity
            android:name=".ui.names.HolyNameOfAllahDescActivity"
            android:theme="@style/Theme.AnaMuslim" />

        <activity
            android:name=".ui.khatma.KhatmaPlannerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.khatma.KhatmaActivity"
            android:theme="@style/Theme.AnaMuslim" />

        <activity
            android:name=".ui.quran.QuranReaderActivity"
            android:theme="@style/Theme.AnaMuslim" />

        <activity android:name=".ui.qibla.QiblaActivity" />

        <activity android:name=".ui.tracker.TrackerActivity" />

        <activity android:name=".ui.setup.SelectLocationActivity" />

        <activity android:name=".ui.setup.QuickSettingsActivity" />

    </application>

</manifest>